@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

html {
  font-size: 62.5%;
}

h2, h3, p, button, li {
  cursor: pointer;
}

article {
  cursor: pointer;
}
article h3 {
  cursor: pointer;
}

main #serie-description {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 440px 600px;
  justify-items: center;
  align-items: center;
}
main #serie-description .serie-description__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 250px;
  max-width: 300px;
  margin-top: 40px;
}
main #serie-description .serie-description__head h2 {
  padding: 7px;
  text-align: center;
  max-width: 250px;
  max-height: 100%;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2rem;
  color: #36EBDB;
  background-color: rgba(12, 12, 12, 0.8);
  cursor: default;
  width: 90%;
  max-width: 300px;
}
main #serie-description .serie-description__head picture {
  display: flex;
  justify-content: center;
}
main #serie-description .serie-description__head picture #serie-description__img {
  width: 90%;
  min-width: 250px;
  max-width: 300px;
}
main #serie-description .serie-description__info {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
main #serie-description .serie-description__info h3 {
  overflow: auto;
  margin-top: 20px;
  max-width: 300px;
  max-height: 500px;
  padding: 12px;
  text-align: justify;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.7rem;
  color: #2FBDF5;
  background-color: rgba(12, 12, 12, 0.8);
  cursor: default;
}

#serie-description__season {
  display: flex;
  flex-direction: column;
  max-height: 250px;
  width: 100%;
  margin-bottom: 30px;
}
#serie-description__season div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#serie-description__season button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 200px;
  margin-top: 10px;
  padding: 5px 15px;
  border-radius: 6px;
  font-size: 2rem;
  background-color: #3A74DC;
  color: white;
  border: 1px solid white;
}
@media (min-width: 1024px) {
  #serie-description__season button {
    max-width: 320px;
    font-size: 1.8rem;
  }
}
#serie-description__season button:hover {
  border: 1px solid #3A74DC;
  color: black;
  background-color: #2FBDF5;
}

.seasonSelect {
  display: none;
  background-image: url(../assets/icons/icons8-flecha-64.png);
  width: 40px;
  height: 31px;
  background-size: cover;
}

.serie-description__caps {
  width: 80%;
  padding: 10px;
  background-color: rgba(12, 12, 12, 0.8);
  border-radius: 7px;
}
.serie-description__caps h2 {
  padding: 7px;
  text-align: center;
  max-width: 250px;
  max-height: 100%;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.2rem;
  color: #3A74DC;
  max-width: 100%;
  cursor: default;
  margin-bottom: 5px;
  border-bottom: 0.5px solid black;
}
.serie-description__caps ol {
  overflow: auto;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
  max-height: 290px;
  margin-bottom: 50px;
}
.serie-description__caps ol li {
  display: none;
  padding: 5px 20px;
  margin-top: 5px;
  font-size: 1.5rem;
  justify-content: center;
  color: #36EBDB;
  border: 1px solid white;
  border-radius: 0px 10px 0px 10px;
}
.serie-description__caps ol li:hover {
  border: 1px solid #36EBDB;
  color: black;
  background-color: #3A74DC;
}

@media (min-width: 768px) {
  main #serie-description {
    display: grid;
    align-items: start;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a c" "b c";
  }
  .serie-description__head {
    grid-area: a;
  }
  .serie-description__caps {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-area: c;
    width: 85%;
    height: 600px;
    max-width: 580px;
    margin-top: 40px;
  }
  .serie-description__caps #serie-description__season {
    margin-top: 12px;
  }
  .serie-description__caps ol {
    max-height: 50%;
  }
  .serie-description__caps ol::-webkit-scrollbar {
    width: 8px; /* Tamaño del scroll en vertical */
    height: 8px; /* Tamaño del scroll en horizontal */
    display: flex;
  }
  .serie-description__caps ol::-webkit-scrollbar-thumb {
    background: #3A74DC;
    border-radius: 4px;
  }
  .serie-description__caps ol::-webkit-scrollbar-thumb:hover {
    background: #2FBDF5;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  .serie-description__caps ol::-webkit-scrollbar-thumb:active {
    background-color: #36EBDB;
  }
  .serie-description__info {
    width: 100%;
    grid-area: b;
  }
}
@media (min-width: 1024px) {
  main #serie-description .serie-description__head {
    width: 100%;
    max-width: 320px;
    margin-top: 30px;
  }
  main #serie-description .serie-description__head picture {
    width: 100%;
  }
  main #serie-description .serie-description__head picture #serie-description__img {
    width: 100%;
    max-width: 360px;
  }
  main #serie-description .serie-description__head #serie-description__title {
    font-size: 2.2rem;
    width: 100%;
    max-width: 360px;
  }
  main #serie-description .serie-description__info {
    width: 90%;
  }
  main #serie-description .serie-description__info h3 {
    max-width: 700px;
    font-size: 2rem;
    line-height: 2.2rem;
    margin-top: -50px;
    border-radius: 7px;
  }
  main #serie-description .serie-description__caps ol li {
    font-size: 2rem;
  }
}/*# sourceMappingURL=description.css.map */